<div class="container">
  <div class="row">
    <div class="col-9">
     <h4><%= @heading %></h4>
    </div>
    <div class="col-md-2 col-3 text-right">
     <%= link_to '新規投稿', new_post_path, class: "btn btn-sm btn-primary" %>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <%= render 'public/posts/index',posts: @posts, tag_lists: @tag_lists %>
    </div>
  </div>
</div>