<div class="container">
  <div class="row">
    <h1>質問作成</h1>
  </div>

  <%= render "admin/shared/error_messages", resource: @attachment %>

  <div class="row">
    <div class="col">
      <%= render 'admin/attachments/form',attachment: @attachment %>
    </div>
  </div>

</div>