<div class="container">
  <div class="row d-flex justify-content-center">
    <h2>性格分析についての諸注意</h2>
  </div>
  <div class="row d-flex justify-content-center" style=" height: auto; margin: 30px 0;">
    <div class="col-10">
        <p>回答時間は約10分です。</p>
        <p>回答結果から性格分析を行いますが、結果は回答時の精神状態に大きく左右されます。</p>
        <p>(イライラしていたりドキドキしていたりなど)</p>
        <p>また、今回の分析ではあなたの『嘘』や『見栄』を判断することは出来ません。</p>
        <p>医学的な断定は出来ないため、</p>
        <p>気になる方は専門医への診断をおすすめします。</p>
        <p>あくまでも本サイトを楽しむための一部とお考え下さい。</p>
    </div>
  </div>
  <div class="row d-flex justify-content-center" style=" height: auto; margin: 30px 0;">
    <%= link_to "性格分析をやってみる", new_emotionality_path, class: "btn btn-success btn-lg btn-block", style: "width: 500px; height: 90px; font-size: 30px;padding:25px;" %>
  </div>
</div>
