<style>
  h4 {
    font-weight: bold;
  }
  .text {
    margin: 15px;
    font-size: 25px;
  }
  .col {
    text-align: center;
  }
  .btn-success{
    width: 500px;
    height: 100px;
    font-size: 30px;
    margin: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    line-height: 100px;
  }
</style>

<div class="container">
  <div class="row d-flex justify-content-center" style=" height: auto; margin: 30px 0;">
    <div class="col">
      <h4>本サイトは、あなたの性格を分析し、<br>
          解説したのちに投稿していただくレビューサイトです</h4>
        <%= link_to "性格分析をやってみる", analysis_top_path, class: "btn btn-success btn-lg btn-block" %>
      <p>性格分析にはログインが必要です。新規登録は<%= link_to "こちら", new_user_registration_path %>から</p>

      <h4>本サイトにて性格分析の参考にした</h4>
      <h4>ビッグファイブ理論(5因子モデル)  FFPQ  について  </h4>

      <div class="text">
        ビッグファイブ理論(5因子モデル)とは<br>
        人間の性格特性は5つの軸によって構成されていると考える理論です。<br>
        5つの軸はそれぞれ
        【開放性】【誠実性】【外向性】【協調性】【神経症傾向】と定義され、<br>
        それぞれの軸が【高い】【低い】で複数の特性を測定します。<br>
      </div>
      <div class="text">
        ビッグファイブ理論は最も有力なモデルであり<br>
        基本的な枠組みとして性格心理学において定着していますが、<br>
        文化圏が違うと精度が落ちるのではないか？(仏教やキリスト教、島国と大陸など)<br>
        と考えた研究会は日本人向けビッグファイブ理論として【FFPQ】を作成しました。<br>
      </div>
      <div class="text">
        本サイトではFFPQ-50というFFPQの質問を簡略化した研究結果を元に性格分析を行い、<br>
        性格毎の投稿検索や価値観・考え方に触れるサイトです。<br>
      </div>
      <div class="text">
        【開放性】が高い方は知的好奇心が旺盛な傾向があるので<br>様々なジャンルの作品に触れるかもしれません。<br>
        【外向性】の高い方は他人と関わるのが好きな傾向があるので<br>コメントが活発になるかもしれません。<br>
        【協調性】が低い方は自分の事に時間を使いたい傾向があるので<br>投稿はせずにレビューを閲覧するだけかもしれません。<br>
      </div>
      <div class="text">
        性格特性を知ることで自分はどのような観点から作品を楽しんだのか、<br>
        また別の性格特性の方はどのような見方をしたのか、<br>
        コメントやレビューを通じてお楽しみください。
      </div>
      <%= link_to "性格分析をやってみる", analysis_top_path, class: "btn btn-success btn-lg" %>
      <p>性格分析にはログインが必要です。新規登録は<%= link_to "こちら", new_user_registration_path %>から</p>
    </div>
  </div>
</div>