<div class="container">
  <div class="row">
    <h1>質問作成</h1>
  </div>

  <%= render "admin/shared/error_messages", resource: @emotionality %>

  <div class="row">
    <div class="col">
      <%= render 'admin/emotionalities/form',emotionality: @emotionality %>
    </div>
  </div>

</div>