<div class="header-search-box">
  <%= form_with url: admin_questions_search_path, method: :get, local: true do |f| %>
    <div class="d-flex flex-column flex-sm-row-reverse flex-lg-column m-0">
      <div class="form-group d-flex m-0">
        <%= f.button :type => "submit", class: "ml-2 btn btn-secondary" do %>
          <i class="fa-solid fa-magnifying-glass"></i>
        <% end %>
      </div>
      <div class="form-group mt-2 mb-0 ml-auto">
        <%= f.select :search_model, options_for_select([["emotionality"], ["extraversion"], ["controllability"], ["attachment"], ["playability"]]) %>
      </div>
    </div>
  <% end %>
</div>