<div class="container">
  <div class="row">
    <h1>質問編集</h1>
  </div>

  <%= render "admin/shared/error_messages", resource: @playability %>

  <div class="row">
    <div class="col">
      <%= render 'admin/playabilities/form',playability: @playability %>
    </div>
  </div>

</div>