<p>user/show画面</p>
    <div class="row">
      <div class="col-4">
        <%= image_tag @user.get_profile_image, size: '70x70' %>
      </div>
      <div class="col-8">
        <%= @user.name %> <br>
        <%= @user.introduction %>
      </div>
    </div>

    <div class="row">
      <%= render 'public/posts/index',posts: @posts %>
    </div>