<footer style="background-color: #dfd; height: auto; padding: 20px;">
  <div class="container">
    <div class="container-fluid"></div>
      <div class="row d-flex justify-content-center">
        <div class="col-auto">
          <span class="text-dark">Copyright &copy; DMMwebcamp.inc / BoCA</span>
        </div>
      </div>
    </div>
  </div>
</footer>